@keyframes boxShadowAnimation {
  0% {
box-shadow:0px 0px 0px rgba(255, 255, 255, 0.15), 0px 0px 0px #000;
  }
  100% {
    box-shadow: 0.2911110818386078px 0.2911110818386078px 0.2911110818386078px rgba(255, 255, 255, 0.15), 0px 0px 47.79656219482422px #FF3D00;
  }
}

.wwd-changing-text {opacity:0}
.wwd-changing-text.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.wwd-changing-text.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.box.active {
    background-color: blue;
  }
  .box {
    width: fit-content;
    height: fit-content;
    /* border:1px solid #fff; */
    position: relative;
    z-index: 100;
    text-align: center;
    float:left;
  }
/* what we do text */
.box.a { /* what */
    margin-left:25%;
  }
.box.b { /* we */
    margin-left:25%;
}
.box.c { /* do */
    margin-left:30%;
}

/* icons */
.icon.a { /*a */
  top:700px;
}
.icon.b { /* b */
  top:700px;
}
.icon.c { /* c */
  top:700px;
}
.icon.d { /* d */
  top:700px;
}
.icon.e { /* e */
  top:700px;
}
.icon.f { /* f */
  top:700px;
}
.icon-wrap {
  transition:0.5s;
}
.icon-wrap .icon.active {
  animation: boxShadowAnimation 0.3s ease;
  transition: 0.3s;
  box-shadow: 0.2911110818386078px 0.2911110818386078px 0.2911110818386078px rgba(255, 255, 255, 0.15), 0px 0px 47.79656219482422px #FF3D00;
}
.icon-wrap .icon.active img {
  transition:0.5s
}
.icon-wrap .icon.active img {
  transition:0.5s;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(1000%);}
  .icon:before {
    width: 0px;
    height: 7.9px;
    background: transparent;
    content: '';
    position: absolute;
    top: -30px;
    border-radius: 5.87px;
    transition:1s;}
    .icon:after {
      width: 0px;
      height: 7.9px;
      background: transparent;
      content: '';
      position: absolute;
      bottom: -30px;
      border-radius: 5.87px;
      transition:1s;}
.icon.active:before {
    display: block;
    width: 115%;
    height: 7.9px;
    background: #ff3d00;
    content: '';
    position: absolute;
    top: -30px;
    border-radius: 5.87px;
    transition:1s;
}
.icon.active:after {
  display: block;
  width: 115%;
  height: 7.9px;
  background: #ff3d00;
  content: '';
  position: absolute;
  bottom: -30px;
  border-radius: 5.87px;
  transition:1s;
}
@media screen and (max-width: 767px){ /* only on small devices and below */
  .icon:before {
    width: 7.9px;
    height: 0%;
    background: transparent;
    content: '';
    position: absolute;
    top: -7px;
    left: -24px;
    border-radius: 5.87px;
    transition:1s;}
    .icon:after {
      width: 7.9px;
      height: 0%;
      background: transparent;
      content: '';
      position: absolute;
      top: -7px;
      right: -24px;
      border-radius: 5.87px;
      transition:1s;}
  .icon.active:before {
    display: block;
    width: 7.9px;
    height: 124%;
    background: #ff3d00;
    content: '';
    position: absolute;
    top: -7px;
    left: -24px;
    border-radius: 5.87px;
    transition:1s;
  }
  .icon.active:after {
  display: block;
    width: 7.9px;
    height: 124%;
    background: #ff3d00;
    content: '';
    position: absolute;
    top: -7px;
    right: -24px;
    border-radius: 5.87px;
    transition:1s;
  }
}
@media screen and (max-width: 479px){ /* below small*/
  .icon:before {
    width: 4px;
    height: 0%;
    top: -4px;
    left: -15px;}
    .icon:after {
      width: 4px;
      height: 0%;
      top: -4px;
      right: -15px;}
  .icon.active:before {
    width: 4px;
    height: 113%;
    top: -4px;
    left: -15px;
  }
  .icon.active:after {
  display: block;
    width: 4px;
    height: 113%;
    top: -4px;
    right: -15px;
  }
}
