.box.active {
    background-color: blue;
  }
  .box {
    width: fit-content;
    height: fit-content;
    /* border:1px solid #fff; */
    position: relative;
    z-index: 100;
    text-align: center;
    float:left;
  }
/* what we do text */
.a { /* what */
    margin-left:20%;
  }
.b { /* we */
    margin-left:25%;
}
.c { /* do */
    margin-left:30%;
}
