@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== animations ===== */
/* homepage */
@keyframes pulse{
  0% {
    scale:1;
    opacity:1;
  }
  100%{
    scale:1.6;
    opacity:0;
  }
}
@keyframes pulse2{
  0% {
    scale:1;
    opacity:1;
  }
  100%{
    scale:2.5;
    opacity:0;
  }
}
@keyframes pulse3{
  0% {
    scale:1;
    opacity:1;
  }
  100%{
    scale:3.5;
    opacity:0;
  }
}

/* ===== styles ===== */
/* homepage */

.pulse {animation-name: pulse; animation-duration: 3s; animation-iteration-count: infinite; }
.pulse2 {animation-name: pulse2; animation-duration: 3s;  animation-iteration-count: infinite; }
.pulse3 {animation-name: pulse3; animation-duration: 3s;  animation-iteration-count: infinite; }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
